@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Pacifico&display=swap');
p{
    font-family: 'Montserrat', sans-serif;
  }
  
  h1,h2,h3{
    font-family: 'Pacifico', cursive;
}
a{
    font-family: 'Montserrat', sans-serif;
}
header{
    h2{
        font-size: 30px;
        border-bottom: 2px black solid;
    }
}
.wrapper{
    div{
        margin-top: 4em;
    }
}