@media screen and (max-width: 800px) {
    section{
        header{
            text-align:center;
            h1{
                border:solid black 2px;
                border-radius: 20px;
            }
        }
        
    }
    
  }