@media (max-width: 500px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    padding: 20px;
  }
  section {
    header {
      margin-top: 150px;

      h1 {
        border: 2px black solid;
        width: 50%;
      }
      h2 {
        text-align: center;
      }
    }
    .summary {
      p:first-of-type {
      }
      p + p {
        margin-top: 150px;
      }
    }
  }
  aside{
      background-color: yellow;
      padding: 50px;
      .wrapper{
          border:1px black solid;
          padding: 10px;
          
      }
  }
}
